<ul class="food-list">
<% @list.foods.each do |food| %>
  <li>
    <%= link_to food_path(food), method: :delete, class: 'destroy-food-list-item' do %>
      <%= image_tag 'destroy_food_list_item.svg', alt: "Delete" %>
    <% end %>
    <%= link_to food.name, edit_food_path(food), class: "edit-food-list-item #{list_class_name(food.list)}" %>
  </li>
<% end %>
</ul>
