<h1><%= @list.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Edit</th>
  </tr>
<% @list.foods.each do |food| %>
  <tr>
    <td><%= food.name %></td>
    <td><%= link_to "Edit", edit_food_path(food) %></td>
  </tr>
<% end %>
</table>
