@import "./lists";

$food_list_item_padding: 0.75em;
$food_list_item_font_size: 16px;
$destroy_food_list_item_icon_height: 22px;
$destroy_food_list_item_icon_width: 22px;
$destroy_food_list_item_link_height: 44px;
$destroy_food_list_item_link_width: 44px;

.food-list-item {
  padding: $food_list_item_padding;

  font-size: $food_list_item_font_size;
}

.destroy-food-list-item {
  width: $destroy_food_list_item_icon_width;
  height: $destroy_food_list_item_icon_height;
  padding: #{($destroy_food_list_item_link_height - $destroy_food_list_item_icon_height) / 2}
           #{($destroy_food_list_item_link_width  - $destroy_food_list_item_icon_width)  / 2};
}

.edit-food-list-item {
  @extend .food-list-item;

  display: block;
  -webkit-flex-grow: 2;
  flex-grow: 2;

  text-decoration: none;
}

.food-list-item-name {
  display: none;
}
input.food-list-item-name {
  @extend .food-list-item;

  width: 100%;

  -webkit-appearance: none;
}
