$food_list_item_border: 1px solid #ddd;

.food-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > li {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    border-bottom: $food_list_item_border;
  }
}
