@import "./body-form";
@import "./constants";

$food_list_item_border: 1px solid #ddd;
$food_list_item_padding: 0.75em;
$food_list_item_font_size: 16px;
$destroy_food_list_item_icon_height: 22px;
$destroy_food_list_item_icon_width: 22px;
$destroy_food_list_item_link_height: 44px;
$destroy_food_list_item_link_width: 44px;

html {
  font-family: $font_family;
}

body, h1, p {
  margin: 0;
}

.body {
  display: -webkit-flex;
  -webkit-align-items: stretch;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  height: calc(100vh - 44px);
}

.content {
  overflow: scroll;
}

.food-list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  & > li {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;

    border-bottom: $food_list_item_border;
  }
}

.food-list-item {
  padding: $food_list_item_padding;

  font-size: $food_list_item_font_size;
}

.destroy-food-list-item {
  width: $destroy_food_list_item_icon_width;
  height: $destroy_food_list_item_icon_height;
  padding: #{($destroy_food_list_item_link_height - $destroy_food_list_item_icon_height) / 2}
           #{($destroy_food_list_item_link_width  - $destroy_food_list_item_icon_width)  / 2};
}

.edit-food-list-item {
  @extend .food-list-item;

  display: block;
  -webkit-flex-grow: 2;
  flex-grow: 2;

  text-decoration: none;
}

.food-list-item-name {
  display: none;
}
input.food-list-item-name {
  @extend .food-list-item;

  width: 100%;

  -webkit-appearance: none;
}

.edit-food {
  @extend %body-form;
}
