$very_high_text_color: black;
$high_text_color: #e00;
$moderate_text_color: #fa0;
$low_text_color: green;

.list--very-high {
  color: $very_high_text_color;
}

.list--high {
  color: $high_text_color;
}

.list--moderate {
  color: $moderate_text_color;
}

.list--low {
  color: $low_text_color;
}
