@import "./constants";

$body_form_padding: 0 1em;
$body_form_section_margin: 8px;
$body_form_header_font_size: 24px;
$body_form_font_size: 24px;
$body_form_input_height: 1.7em;
$body_form_input_margin: 0 0 1em 0;
$body_form_input_padding: 2px;
$body_form_select_height: 1.5em;
$body_form_button_background_color: lighten($title_background_color, 20%);
$body_form_button_border: 1px solid darken($body_form_button_background_color, 20%);
$body_form_button_height: 2em;
$body_form_submit_background_color: mix($body_form_button_background_color, green);

%body-form {
  padding: $body_form_padding;

  p {
    margin: $body_form_section_margin;
  }

  button, input, select {
    display: block;
    box-sizing: border-box;
    font-size: $body_form_font_size;
    height: $body_form_input_height;
    line-height: $body_form_input_height;
    margin: $body_form_input_margin;
    padding: $body_form_input_padding;
    width: 100%;
  }
  select {
    -webkit-appearance: menulist-button;
    background: $background_color;
    height: $body_form_select_height;
  }
  button, input[type="submit"] {
    background: $body_form_button_background_color;
    border: $body_form_button_border;
    height: $body_form_button_height;
  }
  input[type="submit"] {
    background: $body_form_submit_background_color;
  }
}
