@import "./constants";
@import "./lists";
@import "./ActionsMenu.scss";

$title_height: 38px;
$title_padding: 15px 0;
$title_font_family: "MarkerFelt-Thin", $font_family;
$title_font_size: $title_height;

.title {
  padding: $title_padding;
  -webkit-flex-basis: $title_height;
  flex-basis: $title_height;

  background-color: $title_background_color;
  font-family: $title_font_family;
  font-size: $title_font_size;
  text-align: center;
}
