<ul class="list-menu">
<% all_lists.each do |list| %>
  <li class="list-menu-item <%= active_class_name(list) %>">
    <%= link_to list do %>
      <div class="list-menu-item-content">
        <div class="list-menu-item-icon"></div>
        <p class="list-menu-item-text"><%= list.name %></p>
      </div>
    <% end %>
  </li>
<% end %>
</ul>
